/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/* line 5, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 47, ../sass/screen.scss */
h1 {
  font-size: 2.25em;
}

/* line 51, ../sass/screen.scss */
h2 {
  font-size: 2em;
}
/* line 54, ../sass/screen.scss */
h2.title {
  font-weight: 700;
  font-size: 2.25em;
}

/* line 60, ../sass/screen.scss */
h3 {
  font-size: 1.75em;
}

/* line 64, ../sass/screen.scss */
h4 {
  font-size: 1.5em;
}

/* line 68, ../sass/screen.scss */
h5 {
  font-size: 1.25em;
}

/* line 72, ../sass/screen.scss */
h6 {
  font-size: 1.1em;
}

/* line 76, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

/* line 82, ../sass/screen.scss */
span.new-alert {
  color: #F2994A;
  padding: 0 0.5em;
}

/* line 91, ../sass/screen.scss */
body {
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Hind", sans-serif;
  font-size: 16px;
}

/* line 99, ../sass/screen.scss */
.padding-1 {
  padding: 1em;
}

@media only screen and (max-width: 767px) {
  /* line 103, ../sass/screen.scss */
  .padding-sm-1 {
    padding: 1em;
  }
}

/* line 110, ../sass/screen.scss */
.padding-2 {
  padding: 2em;
}

/* line 114, ../sass/screen.scss */
.padding-5 {
  padding: 5em;
}

/* line 118, ../sass/screen.scss */
.padding-half {
  padding: 0.5em;
}

/* line 122, ../sass/screen.scss */
.padding-tb5 {
  padding: 5em 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 125, ../sass/screen.scss */
  .padding-tb5-md-lg {
    padding: 5em 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 125, ../sass/screen.scss */
  .padding-tb5-md-lg {
    padding: 5em 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 125, ../sass/screen.scss */
  .padding-tb5-md-lg {
    padding: 5em 0;
  }
}

/* line 140, ../sass/screen.scss */
.padding-tb2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* line 147, ../sass/screen.scss */
.padding-tb5 {
  padding-top: 5em;
  padding-bottom: 5em;
}

/* line 152, ../sass/screen.scss */
.padding-lr2 {
  padding-left: 2em;
  padding-right: 2em;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 157, ../sass/screen.scss */
  .padding-r1-sm {
    padding-right: 1em !important;
  }
}

/* line 165, ../sass/screen.scss */
.padding-tb1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 170, ../sass/screen.scss */
.padding-b1 {
  padding-bottom: 1em;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 174, ../sass/screen.scss */
  .padding-tb1-xs {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
@media only screen and (max-width: 767px) {
  /* line 174, ../sass/screen.scss */
  .padding-tb1-xs {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

/* line 187, ../sass/screen.scss */
.padding-lr1 {
  padding-right: 1em;
  padding-left: 1em;
}

/* line 192, ../sass/screen.scss */
.padding-tbhalf {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* line 197, ../sass/screen.scss */
.margin-1 {
  margin: 1em;
}

/* line 201, ../sass/screen.scss */
.margin-2 {
  margin: 1em;
}

/* line 205, ../sass/screen.scss */
.margin-tb2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 210, ../sass/screen.scss */
.margin-tb1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 215, ../sass/screen.scss */
.margin-bottom-1 {
  margin-bottom: 1em;
}

/* line 221, ../sass/screen.scss */
.margin-half {
  margin: 0.5em;
}

/* line 225, ../sass/screen.scss */
.lg-container {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 230, ../sass/screen.scss */
.md-container {
  max-width: 1020px;
  margin: 0 auto;
}

/* line 235, ../sass/screen.scss */
.navbar-brand {
  padding: 10px !important;
}
/* line 238, ../sass/screen.scss */
.navbar-brand .img-logo {
  max-height: 40px;
  height: 100%;
  width: auto;
}

/* line 246, ../sass/screen.scss */
.weight-600 {
  font-weight: 600;
}

/* line 250, ../sass/screen.scss */
.weight-700, strong {
  font-weight: 700;
}

/* line 254, ../sass/screen.scss */
.w-60 {
  width: 60%;
}

/* line 258, ../sass/screen.scss */
.margin-auto {
  margin-right: auto;
  margin-left: auto;
}

/* line 263, ../sass/screen.scss */
.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

/* line 267, ../sass/screen.scss */
.gbtn.primary {
  background: #A4151A;
  color: #fff;
  border-radius: 5px;
  padding: 0.5em 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
/* line 274, ../sass/screen.scss */
.gbtn.primary:hover {
  margin-top: -1px;
  margin-bottom: 1px;
  padding: 0.5em 1em;
  background: #8d1216;
}

/* line 282, ../sass/screen.scss */
.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 286, ../sass/screen.scss */
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 290, ../sass/screen.scss */
.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 294, ../sass/screen.scss */
.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 298, ../sass/screen.scss */
.border-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 305, ../sass/screen.scss */
section#navbar {
  position: relative;
  z-index: 50;
  display: block;
}
/* line 310, ../sass/screen.scss */
section#navbar .nav-pills .nav-link.active {
  color: inherit;
}
/* line 314, ../sass/screen.scss */
section#navbar .homepage-nav a.nav-link {
  color: #fff;
}
/* line 317, ../sass/screen.scss */
section#navbar .homepage-nav a.nav-link.btn {
  border: 1px solid #fff;
  border-radius: 5px;
}
/* line 321, ../sass/screen.scss */
section#navbar .homepage-nav a.nav-link.btn:hover {
  background: #fff;
  color: #A4151A;
}
/* line 327, ../sass/screen.scss */
section#navbar .homepage-nav a.nav-link:hover {
  color: #cccccc;
}
/* line 331, ../sass/screen.scss */
section#navbar .homepage-nav a.nav-link.active {
  color: #fff !important;
}
/* line 336, ../sass/screen.scss */
section#navbar .default-nav a.nav-link {
  color: #212121;
}
/* line 339, ../sass/screen.scss */
section#navbar .default-nav a.nav-link.btn {
  border-radius: 5px;
  background: #A4151A !important;
  color: #fff;
}
/* line 344, ../sass/screen.scss */
section#navbar .default-nav a.nav-link.btn:hover {
  background: #212121;
  color: #770f13;
}
/* line 350, ../sass/screen.scss */
section#navbar .default-nav a.nav-link.active {
  color: #212121 !important;
}
/* line 354, ../sass/screen.scss */
section#navbar .default-nav a.nav-link:hover {
  color: #3b3b3b;
}
/* line 360, ../sass/screen.scss */
section#navbar a[type=button] {
  background: none !important;
  border: none !important;
  -webkit-appearance: none !important;
}
/* line 366, ../sass/screen.scss */
section#navbar a.nav-link {
  text-decoration: none;
}
/* line 369, ../sass/screen.scss */
section#navbar a.nav-link.active {
  background: transparent !important;
  font-weight: 700;
}
/* line 374, ../sass/screen.scss */
section#navbar a.nav-link:hover {
  margin-top: -1px;
  margin-bottom: 1px;
}
/* line 380, ../sass/screen.scss */
section#navbar .homepage-nav.navbar-toggler {
  color: #fff;
}
/* line 384, ../sass/screen.scss */
section#navbar .collapse.show {
  background: #A4151A;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em 1em;
  overflow-x: hidden;
  display: inline-block !important;
  z-index: 1030 !important;
}
/* line 396, ../sass/screen.scss */
section#navbar .collapse.show .close {
  font-size: 3em;
  color: #fff;
}
/* line 400, ../sass/screen.scss */
section#navbar .collapse.show .close span {
  padding: 0.5em 0.5em;
}
/* line 405, ../sass/screen.scss */
section#navbar .collapse.show ul {
  -webkit-padding-start: 0px;
}
/* line 408, ../sass/screen.scss */
section#navbar .collapse.show ul li {
  padding: 1em 0;
}
@media only screen and (max-width: 767px) {
  /* line 412, ../sass/screen.scss */
  section#navbar .collapse.show ul .btn {
    width: 50%;
    margin: 1em;
  }
}
/* line 423, ../sass/screen.scss */
section#navbar .collapse.show a {
  opacity: 1;
}
/* line 426, ../sass/screen.scss */
section#navbar .collapse.show a .img-logo {
  height: 50px;
  width: auto;
}
/* line 433, ../sass/screen.scss */
section#navbar .collapse.show a.nav-link {
  color: #fff;
}
/* line 436, ../sass/screen.scss */
section#navbar .collapse.show a.nav-link.active {
  color: #fff !important;
}
/* line 440, ../sass/screen.scss */
section#navbar .collapse.show a.nav-link.btn {
  background: #fff !important;
  color: #212121;
}

/* line 451, ../sass/screen.scss */
#homepage .jumbotron {
  margin-top: -4em;
  padding: 8rem 2rem;
  background-color: #A4151A;
  position: relative;
  overflow: hidden;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 451, ../sass/screen.scss */
  #homepage .jumbotron {
    padding: 6rem 2rem;
    margin-top: -4.2em;
  }
}
/* line 464, ../sass/screen.scss */
#homepage .jumbotron h1 {
  margin-bottom: 1em;
}
/* line 469, ../sass/screen.scss */
#homepage .jumbotron p {
  line-height: 25.888px;
}
/* line 473, ../sass/screen.scss */
#homepage .jumbotron .badge {
  padding: 1em 0;
}
/* line 476, ../sass/screen.scss */
#homepage .jumbotron .badge a {
  padding: 0.5em 1em 0.5em 0;
}
/* line 479, ../sass/screen.scss */
#homepage .jumbotron .badge a:hover {
  margin-top: -1px;
  margin-bottom: 1px;
}
/* line 485, ../sass/screen.scss */
#homepage .jumbotron .badge img {
  height: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 485, ../sass/screen.scss */
  #homepage .jumbotron .badge img {
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 494, ../sass/screen.scss */
  #homepage .jumbotron .col {
    margin: 2em 0;
  }
}

/* line 503, ../sass/screen.scss */
img.bg-fluid {
  position: absolute;
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  opacity: 0.2;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  z-index: 0;
}
@media only screen and (max-width: 767px) {
  /* line 503, ../sass/screen.scss */
  img.bg-fluid {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100% !important;
  }
}

/* line 524, ../sass/screen.scss */
.img-cont {
  text-align: center;
  overflow: hidden;
  position: relative;
}
/* line 529, ../sass/screen.scss */
.img-cont img {
  height: 100%;
  width: auto;
  left: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 540, ../sass/screen.scss */
.grey-bg {
  background: #efefef;
}

/* line 546, ../sass/screen.scss */
.feature .row > div {
  padding: 2em 3em;
}
@media only screen and (max-width: 767px) {
  /* line 546, ../sass/screen.scss */
  .feature .row > div {
    padding: 1em;
  }
}
/* line 553, ../sass/screen.scss */
.feature .row > div img {
  height: 60px;
  width: auto;
}
/* line 558, ../sass/screen.scss */
.feature .row > div h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 1em 0;
  font-size: 1.25em;
}
/* line 565, ../sass/screen.scss */
.feature .row > div p {
  line-height: 25.888px;
}

@media only screen and (max-width: 767px) {
  /* line 574, ../sass/screen.scss */
  .featured-articles > .row {
    margin: 1em !important;
  }
}
/* line 581, ../sass/screen.scss */
.featured-articles .featured-article-wrap {
  position: relative;
  display: block;
  margin: 0.5em;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  /* line 581, ../sass/screen.scss */
  .featured-articles .featured-article-wrap {
    margin: 0.5em 0 !important;
  }
}
/* line 591, ../sass/screen.scss */
.featured-articles .featured-article-wrap h6 {
  font-size: 1.125em;
  padding: 1em 0.5em;
  font-weight: 600;
  line-height: 1.72;
  z-index: 2;
}
/* line 599, ../sass/screen.scss */
.featured-articles .featured-article-wrap .category {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
  padding: 1em;
  display: block;
  position: relative;
  z-index: 2;
}
/* line 611, ../sass/screen.scss */
.featured-articles .featured-article-wrap p {
  padding: 0em 0.5em 1em 0.5em;
  line-height: 25.888px;
}
/* line 618, ../sass/screen.scss */
.featured-articles .featured-article-wrap.featured p {
  padding: 1em 0.5em 1em 0.5em;
}
/* line 622, ../sass/screen.scss */
.featured-articles .featured-article-wrap.featured h6 {
  font-size: 1.5em !important;
  color: #fff;
  z-index: 50;
  position: relative;
}
/* line 629, ../sass/screen.scss */
.featured-articles .featured-article-wrap.featured .img-cont {
  height: 25em;
  background: #000;
}
/* line 633, ../sass/screen.scss */
.featured-articles .featured-article-wrap.featured .img-cont img {
  opacity: 0.8;
}
/* line 638, ../sass/screen.scss */
.featured-articles .featured-article-wrap.featured .category {
  color: #fff;
  padding: 1em;
}
/* line 646, ../sass/screen.scss */
.featured-articles .featured-article-wrap.info-profesi h6 {
  font-size: 1.5em;
}
/* line 650, ../sass/screen.scss */
.featured-articles .featured-article-wrap.info-profesi .img-cont {
  padding-top: 100%;
  position: relative;
  margin: 0 1em;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 650, ../sass/screen.scss */
  .featured-articles .featured-article-wrap.info-profesi .img-cont {
    padding-top: 25%;
  }
  /* line 658, ../sass/screen.scss */
  .featured-articles .featured-article-wrap.info-profesi .img-cont img {
    height: auto !important;
    width: 100%;
  }
}
/* line 669, ../sass/screen.scss */
.featured-articles .max-height .featured-article-wrap {
  height: 100%;
}
/* line 674, ../sass/screen.scss */
.featured-articles .see-more {
  padding: 1em 3.5em;
}
@media only screen and (max-width: 767px) {
  /* line 674, ../sass/screen.scss */
  .featured-articles .see-more {
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 684, ../sass/screen.scss */
  .featured-articles .body-article-list h3 {
    padding: 1em 0;
  }
}
/* line 690, ../sass/screen.scss */
.featured-articles .body-article-list .img-cont {
  padding-top: 100%;
  position: relative;
  height: 100%;
}
/* line 696, ../sass/screen.scss */
.featured-articles .body-article-list a {
  padding: 1em !important;
}
/* line 699, ../sass/screen.scss */
.featured-articles .body-article-list a h6 {
  font-size: 1.5em;
  padding: 0.5em 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
/* line 707, ../sass/screen.scss */
.featured-articles .body-article-list a p {
  line-height: 25.888px;
  padding: 0.5em 0em;
}
/* line 712, ../sass/screen.scss */
.featured-articles .body-article-list a.sub-info:first-child {
  color: #A4151A;
}

/* line 720, ../sass/screen.scss */
.see-more {
  text-decoration: none;
  color: inherit;
}
/* line 724, ../sass/screen.scss */
.see-more:hover {
  margin-top: -1px;
  margin-bottom: 1px;
  color: #6e6e6e;
  text-decoration: none;
}

/* line 734, ../sass/screen.scss */
.topic-wrap .col-md-4 {
  padding: 1em !important;
}
/* line 738, ../sass/screen.scss */
.topic-wrap .img-cont {
  padding-top: 60%;
  position: relative;
}
/* line 743, ../sass/screen.scss */
.topic-wrap .top-heading {
  padding: 0 0 3em 0;
}
@media only screen and (max-width: 767px) {
  /* line 743, ../sass/screen.scss */
  .topic-wrap .top-heading {
    width: 90% !important;
  }
}
/* line 750, ../sass/screen.scss */
.topic-wrap .top-heading h2 {
  font-size: 2em;
}
/* line 755, ../sass/screen.scss */
.topic-wrap .heading {
  padding: 0.5em 0;
}
/* line 758, ../sass/screen.scss */
.topic-wrap .heading h6 {
  font-weight: 600;
  font-size: 1.125em;
}
/* line 763, ../sass/screen.scss */
.topic-wrap .heading span.new-alert {
  color: #F2994A;
}
/* line 768, ../sass/screen.scss */
.topic-wrap p {
  line-height: 25.88px;
}
/* line 772, ../sass/screen.scss */
.topic-wrap .bottom {
  padding: 2em 0 0 0;
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 767px) {
  /* line 777, ../sass/screen.scss */
  .topic-wrap .col-md-4 {
    margin: 1em;
  }
}
/* line 784, ../sass/screen.scss */
.topic-wrap .search-bar {
  position: relative;
}
/* line 787, ../sass/screen.scss */
.topic-wrap .search-bar input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 793, ../sass/screen.scss */
.topic-wrap .search-bar .fa-search {
  position: absolute;
  font-size: 1.5em;
  right: 0.5em;
}
/* line 800, ../sass/screen.scss */
.topic-wrap a.selected, .topic-wrap a:hover {
  color: #A4151A;
}
/* line 804, ../sass/screen.scss */
.topic-wrap a:hover {
  margin-top: -1px;
  margin-bottom: 1px;
}

/* line 813, ../sass/screen.scss */
#topic-single .bottom-wrapper {
  width: 100%;
  min-height: 20em;
  background: #000;
  overflow: hidden;
  position: relative;
}
/* line 820, ../sass/screen.scss */
#topic-single .bottom-wrapper .copy {
  z-index: 2;
  color: #fff;
}
/* line 825, ../sass/screen.scss */
#topic-single .bottom-wrapper h4 {
  font-size: 2.25em;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  /* line 825, ../sass/screen.scss */
  #topic-single .bottom-wrapper h4 {
    font-size: 2em;
  }
}
/* line 834, ../sass/screen.scss */
#topic-single .bottom-wrapper p {
  padding: 1em 0;
}
/* line 838, ../sass/screen.scss */
#topic-single .bottom-wrapper button {
  color: #fff;
  background: #A4151A;
}
/* line 843, ../sass/screen.scss */
#topic-single .bottom-wrapper img.img-cont-abs {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0.7;
}
@media only screen and (max-width: 767px) {
  /* line 843, ../sass/screen.scss */
  #topic-single .bottom-wrapper img.img-cont-abs {
    height: 100%;
    width: auto;
  }
}

/* line 860, ../sass/screen.scss */
.event .img-cont {
  padding-top: 100%;
  position: relative;
}
/* line 867, ../sass/screen.scss */
.event h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #A4151A;
  font-weight: 700;
  font-size: 1.2em;
}
/* line 875, ../sass/screen.scss */
.event h5 {
  letter-spacing: 1px;
  font-weight: 500;
}
/* line 880, ../sass/screen.scss */
.event ul {
  padding: 1em 0;
}
/* line 884, ../sass/screen.scss */
.event li {
  padding: 1em 0;
}
/* line 887, ../sass/screen.scss */
.event li a {
  text-decoration: none;
  color: inherit;
}
/* line 891, ../sass/screen.scss */
.event li a:hover {
  margin-top: -1px;
  margin-bottom: 1px;
  opacity: 0.8;
}
/* line 899, ../sass/screen.scss */
.event p {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 0;
}
/* line 906, ../sass/screen.scss */
.event a.see-more I {
  color: #A4151A !important;
}
@media only screen and (max-width: 767px) {
  /* line 913, ../sass/screen.scss */
  .event .img-cont img {
    width: 100%;
    height: auto !important;
  }
}

/* line 924, ../sass/screen.scss */
footer {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}
/* line 928, ../sass/screen.scss */
footer h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
}
/* line 935, ../sass/screen.scss */
footer li {
  padding: 0.5em 0;
}
/* line 938, ../sass/screen.scss */
footer li a {
  text-decoration: none;
  color: #A4151A;
}
/* line 946, ../sass/screen.scss */
footer .social-icon a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}

/* line 954, ../sass/screen.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 958, ../sass/screen.scss */
a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: inherit;
}

/* line 965, ../sass/screen.scss */
.gk-btn {
  border: none;
  border-radius: 5px;
}
/* line 969, ../sass/screen.scss */
.gk-btn.primary {
  padding: 0.5em 2em;
  background: #A4151A;
  color: #fff;
  font-weight: 700;
}

/* line 979, ../sass/screen.scss */
.stats .display-4 {
  color: #AAAAAA;
}
/* line 983, ../sass/screen.scss */
.stats p {
  font-size: 1.4em;
}
/* line 987, ../sass/screen.scss */
.stats small {
  font-size: 0.9em;
}

/* line 992, ../sass/screen.scss */
.display-4 {
  font-size: 1em;
}

/* line 997, ../sass/screen.scss */
.summary {
  padding: 1em;
}
/* line 1000, ../sass/screen.scss */
.summary p {
  line-height: 25.888px;
}

/* line 1008, ../sass/screen.scss */
.table-summary .top {
  background: #CCCCCC;
  color: #fff;
}
/* line 1013, ../sass/screen.scss */
.table-summary .content {
  border: 1px solid #CCCCCC;
}
/* line 1016, ../sass/screen.scss */
.table-summary .content ul {
  -webkit-padding-start: 40px;
  -webkit-padding-before: 2em;
  -webkit-padding-after: 0em;
}
/* line 1021, ../sass/screen.scss */
.table-summary .content ul li {
  position: relative;
  padding: 0em 0em 3em 1em;
}
/* line 1025, ../sass/screen.scss */
.table-summary .content ul li:not(:last-child) {
  border-left: 1px solid #CCCCCC;
}
/* line 1029, ../sass/screen.scss */
.table-summary .content ul li:before {
  content: '\f111';
  font-family: FontAwesome;
  color: #CCCCCC;
  font-size: 1.2em;
  position: absolute;
  left: -10px;
}
/* line 1038, ../sass/screen.scss */
.table-summary .content ul li i {
  font-size: 1.5em;
  padding: 0 0.5em 0 2em;
  color: #828282;
}
@media only screen and (max-width: 767px) {
  /* line 1038, ../sass/screen.scss */
  .table-summary .content ul li i {
    padding: 0 0.5em 0 0.5em;
  }
}
/* line 1048, ../sass/screen.scss */
.table-summary .content ul li h4 {
  font-size: 18px;
  padding-bottom: 0.5em;
}

/* line 1058, ../sass/screen.scss */
.margin-reset {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* line 1067, ../sass/screen.scss */
#article-single .stats-row a {
  color: rgba(0, 0, 0, 0.5);
  padding: 1em 1em 1em 1em;
}
/* line 1073, ../sass/screen.scss */
#article-single .img-cont.main {
  height: 22.5em;
  width: 100%;
  border-radius: 5px;
  padding: 1em;
}
/* line 1079, ../sass/screen.scss */
#article-single .img-cont.main img {
  width: 100%;
  height: auto !important;
}
/* line 1085, ../sass/screen.scss */
#article-single .img-cont.related {
  height: 50px;
  width: 50px;
}
/* line 1090, ../sass/screen.scss */
#article-single h2 {
  font-size: 2.25em;
  line-height: 58.248px;
  font-weight: 500;
}
/* line 1098, ../sass/screen.scss */
#article-single .content-wrap img {
  margin: 1em 0;
}
/* line 1102, ../sass/screen.scss */
#article-single .content-wrap p {
  line-height: 25.888px;
  padding: 1em 0;
}
/* line 1110, ../sass/screen.scss */
#article-single .related-articles h6 {
  padding: 1em;
}
/* line 1114, ../sass/screen.scss */
#article-single .related-articles .row {
  padding: 1em;
  margin-right: 0px;
  margin-left: 0px;
}

/* line 1125, ../sass/screen.scss */
#job-vacancy .form-input.search {
  padding-right: 10px;
  margin: 1em 0;
  position: relative;
}
/* line 1130, ../sass/screen.scss */
#job-vacancy .form-input.search:after {
  content: '\f002';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1em;
  z-index: 1;
  right: 1.2em;
  top: 20%;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
/* line 1145, ../sass/screen.scss */
#job-vacancy h6 {
  font-weight: 600;
}
/* line 1149, ../sass/screen.scss */
#job-vacancy input[type=text] {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0.5em 0.5em;
}
/* line 1157, ../sass/screen.scss */
/* #job-vacancy img {
  height: 50px;
  width: auto;
} */
/* line 1164, ../sass/screen.scss */
#job-vacancy .near-me h6 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
/* line 1169, ../sass/screen.scss */
#job-vacancy .near-me p {
  color: rgba(0, 0, 0, 0.5);
  padding-right: 1em;
  padding-bottom: 2em;
}
/* line 1175, ../sass/screen.scss */
#job-vacancy .near-me span {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/* line 1182, ../sass/screen.scss */
.container-single {
  color: #595A5C;
}
/* line 1185, ../sass/screen.scss */
.container-single h6 {
  font-weight: 700;
  font-size: 1em;
}
/* line 1191, ../sass/screen.scss */
.container-single .page-nav a {
  font-weight: 700;
  color: #212121;
}
/* line 1195, ../sass/screen.scss */
.container-single .page-nav h4 {
  color: #A4151A;
  font-weight: 700;
  padding: 0.5em 0;
}
/* line 1203, ../sass/screen.scss */
/* .container-single .box-wrap img {
  width: 50px;
  height: 50px;
} */
/* line 1208, ../sass/screen.scss */
.container-single .box-wrap .category {
  font-weight: 700;
}
/* line 1212, ../sass/screen.scss */
.container-single .box-wrap h6 {
  padding: 0.2em 0;
}
/* line 1216, ../sass/screen.scss */
.container-single .box-wrap .location, .container-single .box-wrap .category {
  font-size: 0.9em;
}
/* line 1220, ../sass/screen.scss */
.container-single .box-wrap .location {
  padding: 1em 0;
}
/* line 1226, ../sass/screen.scss */
.container-single a {
  color: #2D728F;
}
/* line 1232, ../sass/screen.scss */
.container-single .desc-container p {
  width: 90%;
  line-height: 25.888px;
}
/* line 1238, ../sass/screen.scss */
.container-single .event-related {
  width: 80%;
}
@media only screen and (max-width: 767px) {
  /* line 1238, ../sass/screen.scss */
  .container-single .event-related {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 1238, ../sass/screen.scss */
  .container-single .event-related {
    width: 100%;
  }
}
/* line 1249, ../sass/screen.scss */
.container-single .event-related li {
  padding: 1em 0;
}
/* line 1254, ../sass/screen.scss */
.container-single .event-related a h6 {
  color: #A4151A;
  font-size: 1.3em;
}
/* line 1259, ../sass/screen.scss */
.container-single .event-related a:hover > h6 {
  opacity: 0.8;
  margin-top: -1px;
  margin-bottom: 1px;
}
/* line 1268, ../sass/screen.scss */
.container-single .event-related p {
  padding: 0.5em 0;
}
/* line 1273, ../sass/screen.scss */
.container-single .event-pic {
  width: 100%;
  height: 40vmin;
  overflow: hidden;
}
/* line 1278, ../sass/screen.scss */
.container-single .event-pic img {
  width: 100%;
  height: auto;
}
/* line 1284, ../sass/screen.scss */
.container-single h4 {
  font-weight: 700;
  margin: 0.2em 0 0.5em 0;
}
/* line 1289, ../sass/screen.scss */
.container-single .event-desc-container {
  font-size: 18px;
  line-height: 29.124px;
}
/* line 1294, ../sass/screen.scss */
.container-single .journal-list {
  padding-bottom: 2em;
}
@media only screen and (max-width: 767px) {
  /* line 1297, ../sass/screen.scss */
  .container-single .journal-list .filter-menu {
    position: absolute;
    background: #eaeaea;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1100;
    padding: 1.5em 1em;
    overflow-y: auto;
    display: none;
  }
}
/* line 1312, ../sass/screen.scss */
.container-single .journal-list .filter-menu .fa-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
}
/* line 1323, ../sass/screen.scss */
.container-single .journal-list .filter h5 {
  margin-bottom: 1em;
}
/* line 1327, ../sass/screen.scss */
.container-single .journal-list .filter .fa-filter {
  color: rgba(0, 0, 0, 0.2);
}
/* line 1331, ../sass/screen.scss */
.container-single .journal-list .filter ul {
  -webkit-padding-start: 1.5em;
}
/* line 1334, ../sass/screen.scss */
.container-single .journal-list .filter ul li {
  padding: 0.5em 0;
}
/* line 1337, ../sass/screen.scss */
.container-single .journal-list .filter ul li a {
  text-decoration: none;
  color: inherit;
}
/* line 1341, ../sass/screen.scss */
.container-single .journal-list .filter ul li a span {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}
/* line 1346, ../sass/screen.scss */
.container-single .journal-list .filter ul li a:hover {
  margin-top: -1px;
  margin-bottom: 1px;
  opacity: 0.8;
}
/* line 1356, ../sass/screen.scss */
.container-single .journal-list .search-bar {
  position: relative;
}
/* line 1359, ../sass/screen.scss */
.container-single .journal-list .search-bar input {
  padding: 0.2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  /* line 1359, ../sass/screen.scss */
  .container-single .journal-list .search-bar input {
    width: 100%;
  }
}
/* line 1370, ../sass/screen.scss */
.container-single .journal-list .search-bar button {
  position: absolute;
  background: transparent;
  border: 1px solid transparent !important;
  top: 5px;
  right: 0px;
}

/* line 1383, ../sass/screen.scss */
.hover:hover {
  opacity: 0.8;
  margin-top: inherit-1px;
  margin-bottom: inherit1px;
}

/* line 1390, ../sass/screen.scss */
.overlay-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: auto;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  filter: grayscale(100%);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 1390, ../sass/screen.scss */
  .overlay-bg {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 1390, ../sass/screen.scss */
  .overlay-bg {
    width: 100%;
    height: auto;
  }
}

/* line 1414, ../sass/screen.scss */
.overlay-relative {
  position: relative;
  background: linear-gradient(transparent, #fff);
  overflow: hidden;
}

/* line 1420, ../sass/screen.scss */
.white-container {
  background: #fff;
}

/* line 1424, ../sass/screen.scss */
.radius-normal {
  border-radius: 5px;
}

/* line 1428, ../sass/screen.scss */
.text-emphasis {
  color: #A4151A;
}

/* line 1432, ../sass/screen.scss */
.show {
  display: block !important;
}

/* line 1437, ../sass/screen.scss */
.loading-wrap {
  position: relative;
  padding: 5em 0;
}
/* line 1441, ../sass/screen.scss */
.loading-wrap .loader {
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 10px solid #A4151A;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  -moz-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
