@charset "UTF-8";
/* line 1, ../sass/ads.scss */
.top-banner {
  position: relative;
  overflow: hidden;
}
/* line 5, ../sass/ads.scss */
.top-banner.banner-bg {
  /* background: linear-gradient(to left, #59c4e4 5%, transparent); */
  padding: 4em 0;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .top-banner.paramount-bed:after{
    background: url(/images/paramount-bed-banner.png?ed5375b…) 900% 0% no-repeat !important;
    background-color: #59c4e4 !important;
  }
}

/* @media screen and (min-width: 1025px) and (max-width: 1440px) {

  .top-banner.banner-bg {
    background: linear-gradient(to left, #59c4e4 55%, transparent);
  }
}

@media screen and (min-width: 1441px) {
  .top-banner.banner-bg {
    background: linear-gradient(to left, #59c4e4 60%, transparent);
  }
} */

/* line 15, ../sass/ads.scss */
.top-banner.banner-after:after {
  display: inline-block;
  left: 0;
  height: 100%;
  width: 100%;
  /* max-height: 100%; */
  
  /* object-fit: cover; */
  content: '';
  text-align: right;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;

}
/* line 31, ../sass/ads.scss */
.top-banner.paramount-bed:after {
  background: url(/images/paramount-bed-banner.png?ed5375b…) 0% 0% no-repeat;
  background-size: auto 100%;
  background-color: #59c4e4;
}

@media screen and (min-width: 768px) {
  /* line 36, ../sass/ads.scss */
  .paramount-top-banner {
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 36, ../sass/ads.scss */
  .paramount-top-banner {
    height: 400px;
  }
}

/* line 49, ../sass/ads.scss */
.ads-home-images {
  max-height: 233px;
  width: 100%;
  object-fit: cover;
}

/* line 55, ../sass/ads.scss */
.white-bg {
  background: #fff;
}

/* line 59, ../sass/ads.scss */
.img-cover {
  object-fit: cover;
}

/* line 63, ../sass/ads.scss */
.p-absolute {
  position: absolute;
}
/* line 66, ../sass/ads.scss */
.p-absolute.top {
  top: 0;
}
/* line 70, ../sass/ads.scss */
.p-absolute.back {
  z-index: -1;
}

/* line 75, ../sass/ads.scss */
button.btn-paramount, a.btn-paramount {
  background: #59c4e4;
  border: 1px solid #59c4e4;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #fff;
}
/* line 82, ../sass/ads.scss */
button.btn-paramount:hover, a.btn-paramount:hover {
  background: #2db4dd;
  margin-top: -1px;
  margin-bottom: 1px;
}

/* line 89, ../sass/ads.scss */
.text-paramount {
  color: #003563;
}

/* line 93, ../sass/ads.scss */
.text-paramount-secondary {
  color: #56C4E9;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.text-paramount{
  color: #003563;
}

.text-paramount-secondary{
  color: #56C4E9;
}

.paramount-bg{
  background:  #56C4E9;
}

.border-top-5{
  border-top: 5em;
  border-style: solid;
}

.border-bottom-2{
  border-bottom: 2em;
  border-style: solid;
}

.paramount-border{
  border-color: #56C4E9;
}

.white-text{
  color: #fff;
}