@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700');
@import 'bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';

@import 'sidebar-view';
@import 'master-detail-view';
@import 'drugs';
@import 'journals';
@import 'topics';

.form-control {
	font-family: $font-family-sans-serif;
}

.list-group {
	.list-group-item {
		border-radius: 0;
	}
}

.section-header {
	letter-spacing: 2pt;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: $spacer;
}

.no-underline {
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

.ellipsis {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}