.cover {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.section-heading {
	padding-bottom: $spacer * 2;
	
	h5 {
		text-transform: uppercase;
		letter-spacing: .25rem;
		padding-bottom: $spacer;
	}
}

.footer {
	background-image: url('/images/footer.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
}

button {
	font-family: $font-family-sans-serif;
}

.btn-primary-2 {
	color: $white;
	background-color: theme-color("primary2");
	border-color: theme-color("primary2");

	&:hover {
		color: $white;
		background-color: darken(theme-color("primary2"), 10%);
		border-color: darken(theme-color("primary2"), 20%);
	}
}

.btn-outline-primary-2 {
	color: theme-color("primary2");
	background-image: none;
	background-color: transparent;
	border-color: theme-color("primary2");

	&:hover {
		color: $white;
		background-color: darken(theme-color("primary2"), 10%);
		border-color: darken(theme-color("primary2"), 20%);
	}
}

.btn-outline-secondary {
    color: $gray-700;
}

.btn-facebook {
	color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;

  &:hover,
  &:focus,
  &:active {
		color: #fff;
    background-color: darken(#3b5998, 10%);
    border-color: darken(#3b5998, 10%);
  }
}

.btn-twitter {
	color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;

  &:hover,
  &:focus,
  &:active {
		color: #fff;
    background-color: darken(#1da1f2, 10%);
    border-color: darken(#1da1f2, 10%);
  }
}