.modal {
	
	&#auth-dialog {

	    text-align: center;
	    
		&:before {
		    display: inline-block;
		    vertical-align: middle;
		    content: " ";
		    height: 100%;
		}

		.modal-dialog {
			display: inline-block;
			vertical-align: middle;
			margin: 0 auto;

			.modal-content {
				overflow: hidden;
			}
		}
	}
}